# application builds
build/*
dist/*
MANIFEST

# python skin
*.pyc
*.pyo

# osx noise
.DS_Store
profile

# pycharm noise
.idea
.idea/*

# vi noise
*.swp
docs/_build/*
coverage.xml
nosetests.xml
junit-py25.xml
junit-py26.xml
junit-py27.xml